{% extends "layouts/main.html" %}

{% block pageTitle %}
Form Library - Design History
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Form Library</h1>

        <p class="govuk-body">This section contains design history for features related to the form library.</p>

        <h2 class="govuk-heading-l">Features</h2>

        <ul class="govuk-list">
            <li><a href="posts/forms-library.html">Forms library (sorting, filtering, tags)</a></li>
        </ul>
    </div>
</div>
{% endblock %}