{% extends "layouts/main.html" %}
{% from "components/defra-coordinate-input/macro.njk" import defraCoordinateInput %}

{% block pageTitle %}
  OS Grid Reference Location Format – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<style>
  .form .govuk-form-group {
    margin-bottom: 0 !important;
  }
</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

        {{ defraCoordinateInput({
        id: "os-grid-reference",
        namePrefix: "location",
        fieldset: {
        legend: {
        text: "What is the location of your business?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
        }
        },
        hint: {
        text: "Must be between 8 and 12 characters like TQ123456"
        },
        classes: "row-prototype-coordinate-input govuk-!-padding-bottom-0",
        items: [
        {
        id: "os-grid-single",
        name: "osGridSingle",
        label: "",
        classes: "govuk-input--width-10",
        type: "text",
        attributes: {
        inputmode: "text"
        }
        }
        ]
        }) }}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How to find location details
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">You can find coordinates using:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="https://gridreferencefinder.com/" class="govuk-link" target="_blank">Grid Reference Finder</a></li>
              <li><a href="https://magic.defra.gov.uk/" class="govuk-link" target="_blank">Magic Maps</a></li>
            </ul>
          </div>
        </details>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

        <h2 class="govuk-heading-m">Error Messages</h2>
        <p class="govuk-body">Here are the error messages that would appear for this format:</p>

        <div class="govuk-error-summary" data-disable-auto-focus="true">
            <h2 class="govuk-error-summary__title">There is a problem</h2>
            <ul class="govuk-list govuk-error-summary__list">
                <li><a class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span>Enter OS grid reference for location of business</a></li>
                <li><a class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span>Enter a valid OS grid reference for location of business like TQ123456</a></li>
                <li><a class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span>OS grid reference for location of business must be between 8 and 12 characters</a></li>
                <li><a class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span>Grid square must be 2 letters like TQ or SW</a></li>
                <li><a class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span>OS grid reference for location of business must be within Great Britain</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
