{% extends "layouts/main.html" %}
{% from "components/service-header/macro.njk" import serviceHeader %}


{% block pageTitle %}
{{ commonTerms.form_editor.create_new_form.form_name.title }} - Create a new form
{% endblock %}

{% block header %}
{{ serviceHeader({
organisationName: "Defra",
productName: "Forms designer",
serviceName: "",
accountName: "Chris Smith",
homepageLink: "/",
signOutLink: "/titan-mvp-1.2/onboarding/sign-out-confirmation",
navigationItems: [{
href: "#",
text: "Library",
id: "titan-mvp-1.2/library"
}]
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: commonTerms.form_editor.create_new_form.form_name.back,
href: "/titan-mvp-1.2/library"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/titan-mvp-1.2/create-new-form/form-name" method="post">
      {{ govukInput({
      label: {
      text: commonTerms.form_editor.create_new_form.form_name.title,
      classes: "govuk-label--l",
      isPageHeading: true
      },
      hint: {
      text: commonTerms.form_editor.create_new_form.form_name.hint
      },
      id: "form-name",
      name: "formName",
      value: data.formName,
      errorMessage: errors.formName
      }) }}

      {{ govukButton({
      text: commonTerms.form_editor.create_new_form.form_name.continue
      }) }}
    </form>
  </div>
</div>
{% endblock %}