{% extends "layouts/main.html" %}

{% block pageTitle %}
Form Overview - Design History
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Form Overview</h1>

        <p class="govuk-body">This section contains design history for features related to form overview and management.
        </p>

        <h2 class="govuk-heading-l">Features</h2>

        <ul class="govuk-list">
            <li><a href="posts/form-overview.html">Form overview</a></li>
            <li><a href="posts/support-pages.html">Support pages</a></li>
        </ul>
    </div>
</div>
{% endblock %}