{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% if question %}
{% set checkboxItems = [] %}
{% if question.options and question.options.length > 0 %}
{% for option in question.options %}
{% set item = {
"value": option.value if option.value else option.label,
"text": option.label,
"hint": {
"text": option.hint
} if option.hint else {}
} %}
{% set checkboxItems = (checkboxItems.push(item), checkboxItems) %}
{% endfor %}
{% endif %}

{{ govukCheckboxes({
idPrefix: "question-" + question.id,
name: "question-" + question.id,
fieldset: {
legend: {
text: question.label,
isPageHeading: false,
classes: "govuk-fieldset__legend--m"
}
},
hint: {
text: question.hint
} if question.hint else {},
items: checkboxItems if checkboxItems.length > 0 else [{
text: "No options available",
value: "no-options",
disabled: true
}]
}) }}
{% else %}
<p class="govuk-body">No question data available to preview</p>
{% endif %}