{# {% if currentPage.questions.length == 0 %}
<p>No questions have been added yet.</p>
{% else %}
{% for question in currentPage.questions %} #}
{% set labelSize = labelSize or "m" %}

<div class="govuk-form-group">
    <label class="govuk-label govuk-label--{{ labelSize }}" for="email">
        {{ question.label }}
    </label>
    {% if question.hint %}
    <div id="email-hint" class="govuk-hint">
        {{ question.hint }}
    </div>
    {% endif %}
    <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" autocomplete="email"
        aria-describedby="email-hint">
</div>
{# {% endfor %}
{% endif %} #}