{% extends "layouts/main.html" %}

{% block pageTitle %}
Form Editor - Design History
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Form Editor</h1>

        <p class="govuk-body">This section contains design history for features related to the form editor.</p>

        <h2 class="govuk-heading-l">Features</h2>

        <ul class="govuk-list">
            <li><a href="posts/list-items.html">List items</a></li>
            <li><a href="posts/conditions.html">Conditions (page conditions)</a></li>
            <li><a href="posts/repeaters.html">Repeaters (including Add another)</a></li>
            <li><a href="posts/guidance-pages.html">Guidance pages (includes page heading)</a></li>
            <li><a href="posts/file-upload.html">File upload</a></li>
            <li><a href="posts/preview-panel.html">Preview panel</a></li>
            <li><a href="posts/markdown-support.html">Markdown support</a></li>
            <li><a href="posts/error-messages.html">Short description for error messages</a></li>
            <li><a href="posts/editor-design-refresh.html">Editor design refresh</a></li>
            <li><a href="posts/autosave.html">Autosave</a></li>
            <li><a href="posts/advanced-settings.html">Advanced settings</a></li>
            <li><a href="posts/legacy-editor.html">Legacy editor</a></li>
            <li><a href="posts/page-sections.html">Page sections</a></li>
            <li><a href="posts/import-export.html">Importing/exporting forms</a></li>
        </ul>
    </div>
</div>
{% endblock %}