{% extends "design-history/template.html" %}

{% from "components/service-header/macro.njk" import serviceHeader %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% block head %}
{{ super() }}
<style>
    .govuk-image {
        max-width: 600px;
        margin: 0 auto;
    }

    .govuk-image img {
        width: 100%;
        height: auto;
        display: block;
    }

    .app-related-items {
        border-top: 2px solid #1d70b8;
        padding-top: 10px;
    }

    .app-related-items .govuk-list {
        margin-top: 0;
    }

    .app-related-items .govuk-list li {
        margin-bottom: 0;
    }

    .app-secondary-text {
        color: #505a5f !important;
        font-weight: normal !important;
    }
</style>
{% endblock %}

{% block header %}
{{ serviceHeader({
organisationName: "Defra",
productName: "Forms Designer",
serviceName: "Design History",
containerClasses: containerClasses,
accountName: "Chris Smith (Admin)",
homepageLink: "/",
signOutLink: "/onboarding/sign-out-confirmation",
navigationItems: [
{ href: "/roles/my-account.html", text: "My account", id: "my-account" },
{ href: "/roles/manage-users.html", text: "Manage users", id: "manage-users" }
],
activeLinkId: ""
}) }}

<div class="x-govuk-masthead x-govuk-masthead--large">
    <div class="govuk-width-container">
        {{ govukBreadcrumbs({
        classes: "govuk-breadcrumbs--inverse",
        items: breadcrumbItems
        }) }}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
            style="border-bottom: 1px solid white; margin-bottom: 0" />

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full-from-desktop">
                <h1 class="x-govuk-masthead__title">
                    <span class="govuk-caption-l" style="color: white;">{{ category }}</span>
                    {{ title }}
                </h1>
                <div class="govuk-body" style="color: white; margin-top: 1em;">
                    <span class="govuk-tag govuk-tag--grey">{{ postType }}</span>
                    <span style="margin-left: 1em;">Originally published on {{ publishDate }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="app-prose-scope">
            {% block postContent %}
            {# Post content goes here #}
            {% endblock %}
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="app-related-items">
            <h2 class="govuk-heading-s">Related posts</h2>
            <nav role="navigation" aria-labelledby="related-posts">
                <ul class="govuk-list govuk-list--spaced">
                    {% for post in relatedPosts %}
                    <li>
                        <a href="{{ post.href }}" class="govuk-link">{{ post.text }}</a>
                        <p class="govuk-body-s govuk-!-margin-top-1">
                            Originally published on {{ post.date }}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}