{% extends "layouts/runner.html" %}

{% block pageTitle %}
  Give feedback – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
Give feedback</h1>

      <form class="form" action="/titan-mvp-1.2/form-editor/CSAT/form-submitted" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "satisfaction",
  fieldset: {
    legend: {
      text: "Overall, how did you feel about the service you received today?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "very-satisfied",
      text: "Very satisfied"
    },
    {
      value: "satisfied",
      text: "Satisfied"
    },
    {
      value: "neither-satisfied-nor-dissatisfied",
      text: "Neither satisfied nor dissatisfied"
    },
    {
      value: "dissatisfied",
      text: "Dissatisfied"
    },
    {
      value: "very-dissatisfied",
      text: "Very dissatisfied"
    }
  ]
}) }}

{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukCharacterCount ({
  name: "moreDetail",
  id: "more-detail",
  maxlength: 1200,
  label: {
    text: "How could we improve this service? (optional)",
    classes: "govuk-label--m",

    isPageHeading: false
  },
  hint: {
    text: "Do not include personal or financial information, like your National Insurance number or credit card details"
  }
}) }}

        {{ govukButton({
          text: "Send feedback"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
