{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question one - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if error %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: error.nameError,
              href: "#name"
            } if error.nameError else "",
            {
              text: error.emailError,
              href: "#email"
            } if error.emailError else "",
            {
              text: "Find or enter manually your business address",
              href: "#find-address-button"
            } if error.addressError else ""
          ]
        }) }}
      {% endif %}

      <form method="post" autocomplete="off">
        <h1 class="govuk-heading-l">Your details</h1>

        {{ govukInput({
          label: {
            text: "Full name",
            classes: "govuk-label--m"
          },
          id: "name",
          name: "name",
          errorMessage: { text: error.nameError } if error.nameError else "",
          value: data['name'],
          autocomplete: "name"
        }) }}

        <div class="govuk-form-group{% if error.addressError %} govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              What is your business address?
            </legend>

            {% if error.addressError %}
              <p id="find-address-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>Find or enter manually your business address
              </p>
            {% endif %}

            {% if data.selectedAddress or data.finalAddress %}
              {# Show selected address #}
              {{ govukInsetText({
                html: '<h3 class="govuk-heading-s">Selected address:</h3>
                <p class="govuk-body">
                  ' + (data.finalAddress or data.selectedAddress) + '
                </p>
                <p class="govuk-body">
                  <a href="/dwp-find-an-address-plugin-mini-journey/address-results?returnUrl=' + (data.returnUrl or '/dwp-find-an-address-plugin-mini-journey/question-one') + '" class="govuk-link">Use a different address</a>
                </p>',
                classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-0"
              }) }}

            {% else %}
              {# Show address selection buttons #}
              <div class="govuk-button-group govuk-!-margin-bottom-0">
                <a href="/dwp-find-an-address-plugin-mini-journey/postcode-entry?returnUrl={{ data.returnUrl or '/dwp-find-an-address-plugin-mini-journey/question-one' }}" id="find-address-button" class="govuk-button govuk-button--secondary govuk-!-margin-right-1">Find an address</a>
                <p class="govuk-body govuk-!-margin-bottom-0">or <a href="/dwp-find-an-address-plugin-mini-journey/manual-entry?returnUrl={{ data.returnUrl or '/dwp-find-an-address-plugin-mini-journey/question-one' }}" class="govuk-link">enter address manually</a></p>
              </div>
            {% endif %}
          </fieldset>
        </div>

        {{ govukInput({
          label: {
            text: "Email address",
            classes: "govuk-label--m"
          },
          hint: {
            text: "We'll only use this to send you a receipt"
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          errorMessage: { text: error.emailError } if error.emailError else "",
          value: data['email']
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            name: "action",
            value: "continue"
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
