{% extends "layouts/main.html" %}
{% from "components/service-header/macro.njk" import serviceHeader %}
{% set pageName = "Delete condition from page - " ~ formName %}

{% block header %}
{{ serviceHeader({
organisationName: "Defra",
productName: "Form Designer",
serviceName: "",
containerClasses: containerClasses,
accountName: "Chris Smith",
homepageLink: "/",
signOutLink: "/titan-mvp-1.2/onboarding/sign-out-confirmation",
navigationItems: [
{ href: "/titan-mvp-1.2/library", text: "Forms library", id: "nav-library" },
{ href: "/titan-mvp-1.2/form-overview/index", text: "Overview", id: "nav-overview" },
{ href: "/titan-mvp-1.2/form-editor/listing", text: "Editor", id: "nav-editor", active: true }
]
}) }}

<div class="x-govuk-masthead x-govuk-masthead--large">
    <div class="govuk-width-container">
        {{ govukBackLink({ classes: "govuk-back-link--inverse govuk-!-margin-bottom-0", text:
        "Back to page conditions", href:
        "/titan-mvp-1.2/form-editor/conditions/page-level/" ~ pageId }) }}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
            style="border-bottom: 1px solid white; margin-bottom: 0" />

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full-from-desktop">
                <h1 class="x-govuk-masthead__title">
                    {{formName}}
                </h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post"
            action="/titan-mvp-1.2/form-editor/conditions/page-level/{{ pageId }}/delete/{{ conditionId }}">
            <input type="hidden" name="conditionId" value="{{ conditionId }}">
            <span class="govuk-caption-l">Condition: {{ conditionName }}</span>
            <h1 class="govuk-heading-xl">
                Are you sure you want to remove this condition from <span class="govuk-!-font-weight-bold">Page {{
                    pageNumber }}</span>?
            </h1>
            <div class="govuk-warning-text govuk-!-margin-bottom-8">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    This will only remove the condition from this page. The condition will still be available elsewhere
                    in your form.
                </strong>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button govuk-button--warning">Remove condition from page</button>
                <button type="button" class="govuk-button govuk-button--secondary"
                    onclick="window.location.href='/titan-mvp-1.2/form-editor/conditions/page-level/{{ pageId }}'">Cancel</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}