{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% from "components/service-header/macro.njk" import serviceHeader %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block header %}
{{ serviceHeader({
organisationName: "Defra",
productName: "Forms Designer",
serviceName: "Design history",
containerClasses: containerClasses,
homepageLink: "/design-system/components.html",
signOutLink: "/onboarding/sign-out-confirmation",
navigationItems: [
{ href: "/index", text: "Histories and prototypes", id: "histories-and-prototypes" },
{ href: "/design-system/components.html", text: "Components", id: "components" },
{ href: "/design-system/user-journeys/home.html", text: "User journeys", id: "user-journeys" }
],
activeLinkId: "histories-and-prototypes"
}) }}

<div class="x-govuk-masthead x-govuk-masthead--large">
  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
    classes: "govuk-breadcrumbs--inverse",
    items: [
    {
    text: "Design History",
    href: "/design-history/index.html"
    },
    {
    text: "Forms Designer",
    href: "/design-history/forms-designer/index.html"
    },
    {
    text: "Prototype"
    }
    ]
    }) }}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
      style="border-bottom: 1px solid white; margin-bottom: 0" />

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full-from-desktop">
        <h1 class="x-govuk-masthead__title">
          Prototype routes
        </h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/prototype-answer" method="post">
      {{ govukRadios({
      name: "prototype",
      value: data['prototype'],
      fieldset: {
      legend: {
      html: 'Where do you want the prototype to start?',
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      }
      },
      items: [
      {
      value: "signIn",
      html: 'Sign-in'
      },
      {
      value: "library",
      text: "Forms library"
      },
      {
      value: "newForm",
      text: "Create new form"
      },
      {
      value: "overview",
      text: "Overview pages"
      },
      {
      value: "editor",
      text: "Editor"
      }
      ]
      }) }}
      {{ govukButton({
      text: "Start prototype",
      isStartButton: true
      }) }}
    </form>

  </div>
</div>

{% endblock %}