{% extends "layouts/main.html" %}

{% block pageTitle %}
List Items - Round 7 - October 2024
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">List Items - Round 7</h1>

        <p class="govuk-body">Research conducted in October 2024</p>

        <h2 class="govuk-heading-l">Research objectives</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>Test the usability of list item creation</li>
            <li>Evaluate the effectiveness of list item management</li>
            <li>Assess user understanding of list item configuration options</li>
        </ul>

        <h2 class="govuk-heading-l">Key findings</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>Users found the list item creation process intuitive</li>
            <li>Some users needed clearer guidance on advanced options</li>
            <li>Bulk editing capabilities were highly requested</li>
        </ul>

        <h2 class="govuk-heading-l">Design iterations</h2>
        <p class="govuk-body">Based on the research findings, we made the following changes:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Added tooltips for advanced options</li>
            <li>Implemented bulk editing functionality</li>
            <li>Improved the visual hierarchy of list item properties</li>
        </ul>

        <h2 class="govuk-heading-l">Next steps</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>Implement the bulk editing feature</li>
            <li>Add contextual help for advanced options</li>
            <li>Plan for Round 8 testing</li>
        </ul>

        <div class="govuk-inset-text">
            <h3 class="govuk-heading-s">Research artifacts</h3>
            <ul class="govuk-list">
                <li><a href="../assets/images/round-7-prototype.png">Prototype screenshots</a></li>
                <li><a href="../assets/images/round-7-findings.pdf">Research findings report</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}