{% extends "layouts/runner.html" %}

{% block pageTitle %}
How many unicorns do you expect to breed each year? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/how-many-unicorns-do-you-expect-to-breed-each-year" method="post">

      {{ govukRadios({
      idPrefix: "aitzzV",
      name: "aitzzV",
      fieldset: {
      legend: {
      text: "How many unicorns do you expect to breed each year?",
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
      }
      },
      items: [
      {
      value: "1 to 5",
      text: "1 to 5"
      },
      {
      value: "6 to 10",
      text: "6 to 10"
      },
      {
      value: "11 or more",
      text: "11 or more"
      }
      ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
        text: "Continue"
        }) }}

        {{ govukButton({
        text: "Save and exit",
        classes: "govuk-button--secondary",
        href: "/save-progress",
        type: "button"
        }) }}
      </div>

    </form>

  </div>
</div>

{% endblock %}
