{% extends "layouts/runner.html" %}

{% block pageTitle %}
What type of unicorns will you breed? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/what-type-of-unicorns-will-you-breed" method="post">

      {{ govukCheckboxes({
      idPrefix: "DyfjJC",
      name: "DyfjJC",
      fieldset: {
      legend: {
      text: "What type of unicorns will you breed?",
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
      }
      },
      items: [
      {
      value: "Flying",
      text: "Flying"
      },
      {
      value: "Fire breathing",
      text: "Fire breathing"
      },
      {
      value: "Aquatic",
      text: "Aquatic"
      },
      {
      value: "Rainbow",
      text: "Rainbow"
      }
      ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
        text: "Continue"
        }) }}

        {{ govukButton({
        text: "Save and exit",
        classes: "govuk-button--secondary",
        href: "/save-progress",
        type: "button"
        }) }}
      </div>

    </form>

  </div>
</div>

{% endblock %}
