{% extends "layouts/runner.html" %}

{% block pageTitle %}
When does your unicorn insurance policy start? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if error %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: error.dateError,
            href: "#insuranceStartDate-day"
          } if error.dateError else ""
        ]
      }) }}
    {% endif %}

    <form class="form" action="/when-does-your-unicorn-insurance-policy-start" method="post">

      {{ govukDateInput({
      id: "insuranceStartDate",
      namePrefix: "insuranceStartDate",
      fieldset: {
      legend: {
      text: "When does your unicorn insurance policy start?",
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
      }
      },
      errorMessage: { text: error.dateError } if error.dateError else "",
      items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          value: data['insuranceStartDate-day']
        },
        {
          name: "month", 
          classes: "govuk-input--width-2",
          value: data['insuranceStartDate-month']
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          value: data['insuranceStartDate-year']
        }
      ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
        text: "Continue"
        }) }}

        {{ govukButton({
        text: "Save and exit",
        classes: "govuk-button--secondary",
        href: "/save-progress",
        type: "button"
        }) }}
      </div>

    </form>

  </div>
</div>

{% endblock %}
