{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check your answers
      </h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data.name }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data.email }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data.selectedAddress %}
              {{ data.selectedAddress }}
            {% elif data.addressLine1 %}
              {{ data.addressLine1 }}{{ ', ' + data.addressLine2 if data.addressLine2 }}{{ ', ' + data.townCity if data.townCity }}{{ ', ' + data.addressPostcode if data.addressPostcode }}
            {% else %}
              Not provided
            {% endif %}
          </dd>
        </div>
      </dl>

      <form method="post">
        {{ govukButton({
          text: "Accept and continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
