{% extends "layouts/main.html" %}

{% from "components/service-header/macro.njk" import serviceHeader %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageName = "Edit user" %}

{% block header %}
{{ serviceHeader({
organisationName: "Defra",
productName: "Form Designer",
serviceName: "",
containerClasses: containerClasses,
accountName: "Chris Smith ",
homepageLink: "/",
signOutLink: "/onboarding/sign-out-confirmation",
navigationItems: [
{ href: "/titan-mvp-1.2/roles/my-account.html", text: "My account", id: "my-account" },
{ href: "/titan-mvp-1.2/roles/manage-users.html", text: "Manage users", id: "manage-users" }
],
activeLinkId: "manage-users"
}) }}

<div class="x-govuk-masthead x-govuk-masthead--large">
    <div class="govuk-width-container">
        {{ govukBackLink({ classes: "govuk-back-link--inverse govuk-!-margin-bottom-0", text: "Back to manage users",
        href: "/titan-mvp-1.2/roles/manage-users.html" }) }}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
            style="border-bottom: 1px solid white; margin-bottom: 0" />

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full-from-desktop">
                <h1 class="x-govuk-masthead__title">
                    <span class="govuk-caption-l" style="color:white;">{{ data.user.semanticName }}</span>
                    Manage user account
                </h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third-from-desktop">
        <form action="/titan-mvp-1.2/update-user" method="POST" novalidate>


            {{ govukInput({
            label: {
            text: "Email address",
            classes: "govuk-label--m"
            },
            value: data.user.email,
            id: "email-display",
            name: "email-display",
            type: "email",
            disabled: true
            }) }}

            {{ govukRadios({
            name: "role",
            fieldset: {
            legend: {
            text: "Choose role",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
            }
            },
            items: [
            {
            value: "Admin",
            text: "Admin",
            checked: data.user.role === "Admin",
            hint: {
            text: "Can publish and delete forms and manage users"
            }
            },
            {
            value: "Form publisher",
            text: "Form publisher",
            checked: data.user.role === "Form publisher",
            hint: {
            text: "Can create and publish new and existing forms"
            }
            },
            {
            value: "Form creator",
            text: "Form creator",
            checked: data.user.role === "Form creator",
            hint: {
            text: "Can create and edit existing forms only"
            }
            }
            ]
            }) }}

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Save changes
                </button>
                <a href="/titan-mvp-1.2/roles/remove-user.html?email={{ data.user.email }}"
                    class="govuk-button govuk-button--warning" data-module="govuk-button">
                    Remove user
                </a>

                <a href="/titan-mvp-1.2/roles/manage-users.html"
                    class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}