{% extends "layouts/main.html" %}

{% from "components/service-header/macro.njk" import serviceHeader %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageName = "Remove user" %}

{% block header %}
{{ serviceHeader({
organisationName: "Defra",
productName: "Form Designer",
serviceName: "",
containerClasses: containerClasses,
accountName: "Chris Smith ",
homepageLink: "/",
signOutLink: "/onboarding/sign-out-confirmation",
navigationItems: [
{ href: "/titan-mvp-1.2/roles/my-account.html", text: "My account", id: "my-account" },
{ href: "/titan-mvp-1.2/roles/manage-users.html", text: "Manage users", id: "manage-users" }
],
activeLinkId: ""
}) }}

<div class="x-govuk-masthead x-govuk-masthead--large">
    <div class="govuk-width-container">
        {{ govukBackLink({ classes: "govuk-back-link--inverse govuk-!-margin-bottom-0", text: "Back to edit user",
        href: "/titan-mvp-1.2/roles/edit-user.html?email=" + data.user.email }) }}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
            style="border-bottom: 1px solid white; margin-bottom: 0" />

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full-from-desktop">
                <h1 class="x-govuk-masthead__title">
                    <span class="govuk-caption-l" style="color:white;">{{ data.user.semanticName }}</span>
                    Are you sure you want to remove this user?
                </h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

        {{ govukWarningText({
        text: "Removing this user means they can no longer create and manage forms.",
        iconFallbackText: "Warning"
        }) }}

        <form action="/titan-mvp-1.2/remove-user" method="POST" novalidate>
            <input type="hidden" name="email" value="{{ data.user.email }}">

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
                    Remove user
                </button>
                <a href="/titan-mvp-1.2/roles/edit-user.html?email={{ data.user.email }}"
                    class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}