{% extends "layouts/main.html" %}

{% block pageTitle %}
List Items - Design History
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">List Items</h1>

        <p class="govuk-body">This section contains design history for the List Items feature.</p>

        <h2 class="govuk-heading-l">Research rounds</h2>

        <ul class="govuk-list">
            <li><a href="posts/round-7.html">Round 7 - October 2024</a></li>
            <li><a href="posts/round-8.html">Round 8 - November 2024</a></li>
            <li><a href="posts/round-9.html">Round 9 - March 2025</a></li>
            <li><a href="posts/round-10.html">Round 10 - March 2025</a></li>
        </ul>

        <h2 class="govuk-heading-l">Problem statement</h2>
        <p class="govuk-body">Users need to create lists of options</p>

        <h2 class="govuk-heading-l">Status</h2>
        <p class="govuk-body"><strong class="govuk-tag govuk-tag--green">Tested</strong></p>

        <h2 class="govuk-heading-l">Phase</h2>
        <p class="govuk-body">Private beta</p>

        <h2 class="govuk-heading-l">Type</h2>
        <p class="govuk-body">Question types</p>

        <h2 class="govuk-heading-l">Category</h2>
        <p class="govuk-body">Form editor</p>
    </div>
</div>
{% endblock %}