{% extends "layouts/main.html" %}
{% from "components/service-header/macro.njk" import serviceHeader %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}


{% block pageTitle %}
Get access to the Defra Form Designer – Getting started guide – Defra Form Designer – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{{ serviceHeader({
organisationName: "Defra",
productName: "Form Designer",
serviceName: "",
homepageLink: "/titan-mvp-1.2/product-pages/homepage",
signInLink: "/titan-mvp-1.2/library",
showSupportLink: false,
navigationItems: [
{ href: "/titan-mvp-1.2/product-pages/about", text: "About", id: "nav-about" },
{ href: "/titan-mvp-1.2/product-pages/get-started", text: "Get started", id: "nav-get-started" },
{ href: "/titan-mvp-1.2/product-pages/features", text: "Features", id: "nav-features" },
{ href: "/titan-mvp-1.2/product-pages/resources", text: "Resources", id: "nav-resources" },
{ href: "/titan-mvp-1.2/product-pages/support", text: "Support", id: "nav-support" }
],
activeLinkId: "nav-get-started"
}) }}

<div class="x-govuk-masthead x-govuk-masthead--large">
    <div class="govuk-width-container">
        {# {{ govukBreadcrumbs({
        classes: "govuk-breadcrumbs--inverse",
        items: [
        {
        text: "Get started",
        href: "/titan-mvp-1.2/product-pages/get-started"
        },
        {
        text: "Getting started guide",
        href: "/titan-mvp-1.2/product-pages/get-started"
        },
        {
        text: "Get access to the Defra Form Designer"
        }
        ]
        }) }}

        {#
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
            style="border-bottom: 1px solid white; margin-bottom: 0" /> #}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full-from-desktop">
                <h1 class="x-govuk-masthead__title" id="get-access">
                    <span class="govuk-caption-l" style="color: white;">Getting started guide</span>
                    Get access to the Defra Form Designer
                </h1>
                {# <p class="x-govuk-masthead__description">
                    Follow our process to start publishing forms on GOV.UK.
                </p> #}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter app-contents-list--sticky govuk-!-padding-right-0">
        {{ xGovukSubNavigation({
        visuallyHiddenTitle: "Section navigation",
        items: [{
        text: "Get started",
        href: "/titan-mvp-1.2/product-pages/get-started",
        parent: true,
        children: [{
        text: "Get access to the Defra Form Designer",
        href: "/titan-mvp-1.2/product-pages/get-started/get-access",
        current: true
        }, {
        text: "Make a form live checklist",
        href: "/titan-mvp-1.2/product-pages/get-started/make-a-form-live-checklist"
        }, {
        text: "Form suitability criteria",
        href: "/titan-mvp-1.2/product-pages/get-started/form-suitability-criteria"
        }, {
        text: "Measuring the success of your form",
        href: "/titan-mvp-1.2/product-pages/get-started/measuring-success"
        }]
        }]
        }) }}
    </div>
    <div class="govuk-grid-column-two-thirds">
        <div class="app-prose-scope">

            <p class="govuk-body-l">If you'd like to be considered as a private beta user and you work in a UCD
                profession,
                <a href="/titan-mvp-1.2/product-pages/support" class="govuk-link">contact us</a> and we'll add you to
                our
                waiting list.
            </p>

            {% from "govuk/components/pagination/macro.njk" import govukPagination %}

            {{ govukPagination({
            next: {
            labelText: "Make a form live checklist",
            href: "/titan-mvp-1.2/product-pages/get-started/make-a-form-live-checklist"
            }
            }) }}

        </div>
    </div>
</div>
{% endblock %}