{% extends "layouts/main.html" %}

{% block pageTitle %}
Conditions (page conditions) - Design History
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Conditions (page conditions)</h1>

        <p class="govuk-body">This section contains design history for the Conditions feature.</p>

        <h2 class="govuk-heading-l">Research rounds</h2>

        <ul class="govuk-list">
            <li><a href="posts/round-2.html">Round 2 - June 2024</a></li>
            <li><a href="posts/round-9.html">Round 9 - March 2025</a></li>
            <li><a href="posts/round-10.html">Round 10 - March 2025</a></li>
            <li><a href="posts/round-11.html">Round 11 - March 2025</a></li>
        </ul>

        <h2 class="govuk-heading-l">Problem statement</h2>
        <p class="govuk-body">Users need to show different pages based on responses</p>

        <h2 class="govuk-heading-l">Status</h2>
        <p class="govuk-body"><strong class="govuk-tag govuk-tag--orange">In progress</strong></p>

        <h2 class="govuk-heading-l">Phase</h2>
        <p class="govuk-body">Private beta</p>

        <h2 class="govuk-heading-l">Type</h2>
        <p class="govuk-body">Form logic</p>

        <h2 class="govuk-heading-l">Category</h2>
        <p class="govuk-body">Form editor</p>
    </div>
</div>
{% endblock %}