{% extends "layouts/runner.html" %}

{% block pageTitle %}
What is your address? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/question-5" method="post">

      {{ govukTextarea({
      label: {
      text: "What is your address?",
      classes: "govuk-label--l",
      isPageHeading: true
      },
      id: "address",
      name: "address",
      rows: 4
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
        text: "Continue"
        }) }}

        {{ govukButton({
        text: "Save and exit",
        classes: "govuk-button--secondary",
        href: "/save-progress",
        type: "button"
        }) }}
      </div>

    </form>

  </div>
</div>

{% endblock %}
